<nav class="navbar bg-black p-4 d-flex justify-content-between">
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="#">BIENVENIDOS AL FORO | ÉPICA</a>
      <div class="enlaces-nav">
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="Contraseña">
        <input class="btn btn-warning" type="submit" value="Ingresar">
      </div>
      <a href="../main"><button type="button" class="btn btn-outline-warning">Nueva Publicacion</button></a>
    </div>
  </nav>