
 <%-include('partials/header') %>
 <%-include('partials/navbar') %>
 
   <div class="container text-light">
    <div class="row">
      <div class="col text-center m-4">
        <h1><u>FORO MULTITEMATICO</u></h1>
        <h3>Categoría: <b> Películas</b></h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <main class="d-flex flex-wrap gap-3" id="lista-publicaciones">

        </main>
      </div>
    </div>
   </div>

    <script src="/js/home.js"></script>
    
    <%-include('partials/footer') %>