<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motor de plantilla | EJS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    
    <h1 class="text-center">FORO MULTITEMATICO</h1>
    <hr>


    <div class="container">
        <div class="row">
            <div class="col">
                <form action="#" id="form-guardar">
                    <div class="mb-3 mt-4">
                      <label for="" class="form-label">Titulo del Post</label>
                      <input id="titulo-post" type="text" class="form-control" id="">
                    </div>
                    <div class="mb-4">
                      <label for="" class="form-label">Comentarios</label><br>
                      <textarea name="" id="comentario-post" cols="100" rows="10"></textarea>
                    </div>
                    <div class="mb-4">
                        <label for="">Imagen URL:</label>
                        <a href="#"><img src="" alt="imagen-post"></a>
                    </div>
                    <div class="mb-4">
                        <label for="">Fecha de Post</label>
                        <input type="date" name="" id="">
                    </div>
                    <button id="btn-enviar" type="submit" class="btn btn-danger">Enviar</button>
                  </form>
            </div>
        </div>
    </div>


    <script src="/js/home.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html> 