<%-include('partials/header') %>
<%-include('partials/navbar') %>

<div class="txt-main m-3">
  <h1 class="text-center text-light"><u>FORO MULTITEMATICO</u></h1>
  <h3 class="text-center text-light">Categoría: <b> Películas</b></h3>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <form class="m-4" action="#" id="form-guardar">
                <div class="mb-3 mt-4">
                  <label for="titulo-post" class="form-label text-light">Titulo del Post</label>
                  <input id="titulo-post" type="text" class="form-control">
                </div>
                <div class="mb-4">
                  <label for="" class="form-label text-light">Deja tu comentario</label><br>
                  <textarea id="comentario-post" cols="100" rows="10"></textarea>
                </div>
                <div class="mb-4">
                    <input id="url-img" type="text" placeholder="URL Imagen" class="form-control">
                    
                </div>
                <div class="mb-4">
                    <label class="text-light">Fecha de Post</label>
                    <input type="date" name="" id="fecha">
                </div>
                <button id="btn-enviar" type="submit" class="btn btn-warning">Enviar</button>
              </form>        
        </div>
        <div class="d-flex justify-content-center">
          <a href="./"><button type="button" class="btn btn-warning mb-5">Volver</button></a>
        </div>
    </div>
</div>

<script src="/js/main.js"></script>

<%-include('partials/footer') %>